.mainmap{
  width: 200%;
}

.content-left{
  width: 25%;
  float: left;
  height: 500px;
  background-color: grey;
}
.content-right{
  width: 75%;
  float: right;
}
#map{
  margin-right: auto;
  margin-left: auto;
}
